<h2>SocialNetwork</h2>

<form>
    <div class="row">
      <div class = "col-6">
  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Find"
    aria-label="Search">
  <i class="fas fa-search" aria-hidden="true"></i>
      </div>
    </div>
      <div class="row">
      <div class = "col">
  <div class="file-field big-2">
    <div class="btn btn-outline-danger btn-rounded waves-effect btn-lg float-left">
      <span>Upload<i class="fas fa-upload ml-3" aria-hidden="true"></i></span>
      <input type="file">
    </div>
  </div>
    </div>
  </div>
</form>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->